---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";

import Showcase from "../components/Showcase.astro";

import { marked } from "marked";

// const response = fetch(url, options)
//   .then((res) => res.json())
//   .then((json) => console.log(json))
//   .catch((err) => console.error("error:" + err));

const response = await fetch(
  "https://evening-ravine-15718.herokuapp.com/api/internships",
  {
    method: "GET",
  }
);
const data = await response.json();
console.log(data);
const strapiPosts = data.data;

// let converter = new showdown.Converter();

// let url = "http://localhost:1337/api/internships";

// let options = { method: "GET" };

// fetch(url, options)
//   .then((res) => res.json())
//   .then((json) => console.log(json))
//   .catch((err) => console.error("error:" + err));

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Astro Blog">
  <Showcase heading="Astro Blog" text="A simple Blog built with Astro" />
  <section class="page-content">
    <div class="container">
      {
        strapiPosts.map((post) => (
          <Card>
            <h3>{post.attributes.title}</h3>
            <p>{post.attributes.excerpt}</p>
          </Card>
        ))
      }
      {
        posts.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <div>
              Written by <strong>{post.frontmatter.author}</strong> on{" "}
              {new Date(post.frontmatter.date).toLocaleDateString()}
            </div>
            <p>{post.frontmatter.excerpt}</p>
            <a class="btn" href={`/${post.frontmatter.slug}`}>
              Read more
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
