---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";

import Showcase from "../components/Showcase.astro";

import { marked } from "marked";

// const response = fetch(url, options)
//   .then((res) => res.json())
//   .then((json) => console.log(json))
//   .catch((err) => console.error("error:" + err));

const response = await fetch(
  "https://evening-ravine-15718.herokuapp.com/api/internships",
  // "http://127.0.0.1:1337/api/internships",
  {
    method: "GET",
  }
);
const data = await response.json();
// console.log(data.data);
const strapiPosts = data.data;

// let converter = new showdown.Converter();

// let url = "http://localhost:1337/api/internships";

// let options = { method: "GET" };

// fetch(url, options)
//   .then((res) => res.json())
//   .then((json) => console.log(json))
//   .catch((err) => console.error("error:" + err));

const posts = await Astro.glob("../posts/*.md");
---

<Layout>
  <Showcase heading="Internships" text="Our Selection" />
  <section class="page-content">
    <div class="container">
      {
        strapiPosts.map((post) => (
          <Card>
            <div class="card-header">
              <div class="flex">
                <h3>{post.attributes.Title}</h3>

                {post.attributes.Type ? (
                  <p>
                    <b>Type:</b> {post.attributes.Type}
                  </p>
                ) : null}
              </div>
              <div class="flex">
                {post.attributes.Location ? (
                  <p>
                    <b>Location:</b> {post.attributes.Location}
                  </p>
                ) : null}
                {post.attributes.Duration ? (
                  <p>
                    <b>Duration:</b> {post.attributes.Duration.slice(1)}
                  </p>
                ) : null}
              </div>
            </div>
            <p class="my-4">{post.attributes.Excerpt}</p>
            <a class="btn" href={`/${post.attributes.Slug}`}>
              Read More
            </a>
          </Card>
        ))
      }
      {
        posts.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <div>
              Written by <strong>{post.frontmatter.author}</strong> on{" "}
              {new Date(post.frontmatter.date).toLocaleDateString()}
            </div>
            <p>{post.frontmatter.excerpt}</p>
            <a class="btn" href={`/${post.frontmatter.slug}`}>
              Read more
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin: 1rem 0;
  }
</style>
